<div class="deliverable failed">
  <p><strong>[TEST FAILED]</strong> <%= test[:deliverable] %></p>
  <hr>
  <div class="benchmark">
    <h4>Expected:</h4>
    <span> @movies.count == 5 && @movies.first.name == "Goodfellas" && @movies.last.name == "Dumbo Drop"</span>
    <h4>Got:</h4>
    <span> @movies.count == 5 && @movies.first.name == "Goodfellas" && @movies.last.name == "Dumbo Drop" </span>
  </div>
</div>
