


<div class="queryList">
  <% @tests.each do |test| %>
    <% if test[:passed] %>
      <%= render "query/passed", test: test %>
    <% else %>
      <%= render "query/failed", test: test %>
    <% end %>
  <% end %>
</div>
